header { 
    background-image: url("../img/18129294.jpg"); 
    background-size: cover;
    width: auto;
    height: 4cm;
}

nav {
    font-family: Helvetica;
    font-size: 18px;
    padding-left: 22px;
}

i {
    color: black;
    padding-right: 10px;
    margin-top: 20px;
}

h1 {
    text-align: left; 
    text-transform: uppercase; 
    color: black; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 36px;
    letter-spacing: 0.17em;
    padding-left: 50px;
    background-color: #B0C4DE
}

p {
    text-align: justify;
    font-family: Helvetica; 
    font-size: 18px;
    padding-left: 50px;
}

footer {
    background-image: url("../img/18129294.jpg");
    background-size: cover;
    width: auto;
    height: fit-content;
    text-align: center; 
}

#footer {
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 22px;
}

span {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}