header { 
    background-image: url("../img/18129294.jpg"); 
    background-size: cover;
}

#Foto_Personal { 
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 15px 50px;
}

h1 {
    text-align: left; 
    text-transform: uppercase; 
    color: black; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    letter-spacing: 0.17em;
}

nav {
    font-family: Helvetica;
    font-size: 18px;
    padding-left: 22px;
}

i {
    color: black;
    padding-right: 10px;
}

h2 {
    text-align: left; 
    text-transform: uppercase; 
    color: black; 
    background-color: #B0C4DE; 
    font-family:Georgia; 
    padding-left: 20px;
}

span {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    font-family: Helvetica;
}

.Organizacion_lista {
    padding-left: 1%;
}

footer {
    background-image: url("../img/18129294.jpg");
    background-size: cover;
    width: auto;
    height: fit-content;
    text-align: center; 
}

#footer {
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 22px;
}
