*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body, html{
    height: 100vh;
    width: 100vw;
}


header {
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#contenedor_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    color: #F3F3F3;
    padding: 10px;
    
}

li {
    display: inline;
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.titulo1 {
    display: inline-block;
    z-index: 10;
}


