a{
    text-decoration: none;
}

body {
    margin: 0px;
}

/*Header: Menu navegación 1*/

.menu_nav_1 {
    background-color: #222222;
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

/*Header: Logo y Menu navegación 2*/

.menu_nav_2 {
    background-color:#F0A83E;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 15px;
    font-size: 13px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.categoria li {
    display: inline;
}

#Logo {
    padding-left:  45px;
    padding-top: 10px;
}

nav>div>ul>li>a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-right: 10px;
}


/*Main: Seccion Bowl*/

.portada {
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    background-size: cover;
    height: 409px;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#titulos-portada {
    margin-right: 3%;
}

.titulo-portada {
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#3C2313;

}

.subtitulo-portada {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3C2313;
}

.titulo3 {
    background-color: #F0A83E;
    border-radius: 5px;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 141px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

#titulo3 {
    color:#FFFFFF;
}


/*Main: Seccion Productos Destacados*/

#titulo-pd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paw {
    width: 67px;
    height: 71px;
}

h1 {
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
}

.menu_2 {
    display: flex;
    justify-content: center;
}

.menu_2 li {
    display: inline;
}

section>ul>li>a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #666666;
    padding: 5px;
}

.menu-prod {
    display: flex;
    justify-content: center;
}

.dest {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #3C2313;
    text-align: center;
}

.dest2 {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #F0A83E;
margin-right: 1%;
}

/* Main: Seccion Contactenos */

.menu-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #3C2313;
}

.form1 {
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}

.form2 {
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 1.5vh;
    
}

.form3 {
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 1.5vh;
}

/* Footer: Parte 1 */

footer>p{
    background-color: #F0A83E;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
}

/* Footer: Parte 2 */ 

#footer-2 {
    background-color: #3C2313;
    position: relative;
    bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>div>ul>li>span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

footer>div>ul>li {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}

/* Footer: Parte 3 */ 
.derechos {
    background-color: #222222;
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 100px;
    height: 20px;
    position: relative;
    bottom: 40px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}



/* Media queries del sitio wev */

@media (min-width: 481px) {
    
    #hamburguer {
        display: none;
    }

}


@media (max-width: 480px) {

    .menu_nav_1 {
        display: none;
    }
    

    .categoria {
        display: none;
    }

    .menu_nav_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    #hamburger {
        margin-right: 10vw;
    }

    #titulos-portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu_2 {
        display: flex;
        justify-content: space-around;
        margin-right: 10vw;
    }

    .menu-prod {
        display: flex;
        flex-wrap: wrap;
    }

    #footer-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logo-cont {
        order: -1;
    }

}



