.top {
    background-color: #1CD1B0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}

.titulo-heroes {
    background: #00669F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    padding: 26px;
    position: relative;
    bottom: 30px;
}