* { 
	Box-sizing: border-box;
	}

.top {
    background-color: #1CD1B0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}

.titulo-heroes {
    background: #00669F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    padding: 26px;
    position: relative;
    bottom: 30px;
}

h2 {
    margin-top: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 5%;
}

.texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    background-color: #00669F;
    color: #F3F3F3;
    width: 128.78px;
    height: 48.52px;
    margin-bottom: 25px;
    border: #00669F;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 51px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
    color: #F3F3F3;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Batman */

.batman {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 293px;
    margin-top: 15%;
    margin-bottom: 10%;
    position: relative;
}

.img-fond-bat {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.vector-bat {
    Width: 30px;
    Height: 26px;
    position: absolute;
    left: 16px;
    bottom: 130%;
}


/* Harley */

.harley {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 293px;
    margin-top: 15%;
    margin-bottom: 10%;
    position: relative;
}

.img-fond-har {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.vector-har {
    Width: 30px;
    Height: 26px;
    position: absolute;
    left: 16px;
    bottom: 130%;
}

@media (max-width: 480px) {

    .conteiner {
        display: flex;
        flex-wrap: wrap;
    }

}